!!!
%html
  %head
    %meta{content:'text/html; charset=UTF-8', 'http-equiv':'Content-Type'}/
    %title Mi
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
  %body{'ng-app':'mi'}
    = yield

    -#todo: think about other solutions
    #root_path{style:'display: none'}= root_path